! #include ".Xresources.d/bliss"
#include ".Xresources.d/gruvbox"
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
XTerm.vt100.faceName: Iosevka Term:size=11:antialias=true
XTerm.vt100.font: -schumacher-clean-medium-r-normal-*-12-120-75-75-c-*-iso8859-*
Xft.rgba: rgb
Xft.dpi: 96
XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.selectToClipboard: true
Xcursor*theme: Adwaita
XTerm.scaleHeight: 1.01

URxvt.scrollBar: false
!URxvt*depth: 32
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
URxvt*borderless: false
URxvt.letterSpace: -1

Xautolock.time: 10
Xautolock.locker: $HOME/bin/autolock.sh lock
Xautolock.killtime: 30
Xautolock.killer: $HOME/bin/autolock.sh suspend
Xautolock.notify: 30
Xautolock.notifier: $HOME/bin/autolock.sh notify
Xautolock.detectsleep: true
Xautolock.secure: false
Xautolock.noclose: true

ws1: Misc
ws2: Slack
ws3: Web
ws4: IM
ws5: Virt
ws6: Term1
ws7: Term2
ws8: Misc2
ws9: Term3
ws10: Misc3
ws11: Misc4

/* vim: set ts=4 sw=4 tw=79 et :*/
