window {
	background-color: rgba(--rootbar-rgb-color0, 1.0);
	color: --rootbar-color4;
	border-top: 1px solid --rootbar-color2;
}

label {
	font-family: "Pixel Operator Mono";
        background-color: rgba(--rootbar-rgb-color4,0.2);
	font-weight: 600;
    font-size: 12px;
	padding-left: 7px;
	padding-right: 7px;
	border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
	border-top: 1px solid --rootbar-color6;
	border-right: 1px solid --rootbar-color6;
}

#center,#left,#right {
	padding-top: 5px;
	padding-bottom: 5px;
}
#workspace {
	border-top: 0px;
	border-bottom: 0px;
	margin-left:10px;
}
.workspace {
	margin-left: 4px;
	text-decoration: none;
	padding-left: 7px;
	padding-right: 7px;

}
#workspace-focused {
	color: --rootbar-color3;
        background-color: --rootbar-color4;
}
#workspace-visible {
	color: --rootbar-color4;
        background-color: --rootbar-color5;
}
#workspace-inactive {
	color: --rootbar-color2;
        background-color: rgba(--rootbar-rgb-color4,0.2);
}

#window {
}
#clock{
	margin-right: 10px
}

#memory {
	margin-right: 10px;
}
#c4 {
	margin-right: 10px;
	border-bottom-left-radius: 0px;
}
#c1,#c2,#c3 {
	margin-right: -20px;
	border-right: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
#tot {

	margin-right: -10px;
	border-right: 0px;
	border-top-right-radius: 0px;
}

#notif {
	margin-left: 10px;
}
