window {
	background-color: rgba(--rootbar-rgb-color0,0.9);
	font-family: "iosevka";
	color: --rootbar-color15;
	border-top: 2px solid --rootbar-color14;
}

label {
	padding-left: 5px;
	padding-right: 5px;
	border: 2px solid --rootbar-color14;
	background-color: rgba(--rootbar-rgb-color0,1);
	border-radius: 5px;
}

#left {
	margin-left: 20px;
}

#right {
	margin-right: 20px;
}
#left,#right,#center {
	padding-top: 7px;
	padding-bottom: 5px;
}

#workspace {
	border: 0px;
}

.workspace {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-weight:500;
	font-size: 20px;
}

#workspace-focused {
        border: 2px solid --rootbar-color11;
}

#workspace-visible {
        border: 2px solid --rootbar-color13;
}


#notif {
}

#tot,#c1,#c2,#c3,#c4 {
	border: 0px;
	border-top: 2px solid --rootbar-color14;
	border-bottom: 2px solid --rootbar-color14;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#c1,#c2,#c3,#c4 {
	padding-left: 5px;
	padding-right: 5px;
}

#tot {
	border-left: 2px solid --rootbar-color14;

	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

#c4 {
	border-right: 2px solid --rootbar-color14;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
